#root {
  width: full;
  margin: 0 auto;
  padding: 0;
}

@import "tailwindcss";

.font-bungee {
  font-family: "Bungee", sans-serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-dancingScript {
  font-family: "Dancing Script", sans-serif;
}

.word-spacing {
  word-spacing: 36px;
}

.word-spacing-sm {
  word-spacing: 24px;
}
